@model IEnumerable<Workio.Models.RequestEntityStatus>

@{
    ViewData["Title"] = @localizer.Get("Index");
}


<h1>@localizer.Get("PendingRequests")</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Motivation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@localizer.Get("Details")</a>
            </td>
        </tr>
}
    </tbody>
</table>
