@page "ForgotPassword"
@model ForgotPasswordModel

@{
    Layout = "_LayoutAuth";
    ViewData["Title"] = @localizer.Get("ForgotPassword");
}


<link rel="stylesheet" href="~/css/authentication.css" type="text/css">

<div>
    <a style="justify-content: center; font-size: 42px; color: #3890cf;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
        <img class="logo-img" src="~/assets/img/logo.png" /> @localizer.Get("Workio")
    </a>
    <hr class="logo-hr" />
</div>
<div class="row justify-content-center">
    <div class="col-md-4">
        <section>
            <h1>@localizer.Get("ForgotYourPassword")</h1>
            <h2>@localizer.Get("EnterYourEmail")</h2>
            <hr>
            <form id="account" method="post">
                <div class="row g-3 align-items-center mb-4">
                    <div class="form-outline col-auto">
                        <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" />
                        <label asp-for="Email" class="form-label">@localizer.Get("Email")</label>
                    </div>
                    <div class="col-auto">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <button id="forgot-password-submit" type="submit" class="w-100 btn btn-lg btn-primary">@localizer.Get("ResetPassword")</button>
                </div>
            </form>
            <div class="language-selector-container">
                <div class="language-container">
                    <!-- link to switch to English language -->
                    <object type="image/svg+xml" data="~/icons/uk.svg" width="24px" height="24px"></object>
                    <a asp-controller="Home" asp-action="ChangeCulture" asp-route-culture="en" asp-route-returnUrl="@HttpContext.Request.Path">

                        <span class="ms-1"> English</span>
                    </a>
                </div>
                <div class="language-divisor">
                    <span class="me-1 ms-1">|</span>
                </div>
                <div class="language-container">
                    <object type="image/svg+xml" data="~/icons/portugal.svg" width="24px" height="24px"></object>
                    <!-- link to switch to Portuguese language -->
                    <a asp-controller="Home" class="ms-1" asp-action="ChangeCulture" asp-route-culture="pt" asp-route-returnUrl="@HttpContext.Request.Path">
                        <span class="ms-1">Português</span>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
