@page
@model ResetPasswordModel
@{
    ViewData["Title"] = @localizer.Get("ResetPassword");
}

<h1>@ViewData["Title"]</h1>
<h2>@localizer.Get("ResetYourPassword")</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <input asp-for="Input.Email" type="hidden" />
            <div class="row g-3 align-items-center mb-4">
                <div class="form-outline col-auto">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label">@localizer.Get("Password")</label>
                </div>
                <div class="col-auto">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row g-3 align-items-center mb-4">
                <div class="form-outline col-auto">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword" class="form-label">@localizer.Get("ConfirmPassword")</label>
                </div>
                <div class="col-auto">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@localizer.Get("Reset")</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
